.jumbotron{
    text-align: center;
    background:url(../images/d1be39846a576273f60add2a93c5686a.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
 
    }

 .display-3{
    text-shadow: 2px 2px 8px rgb(252, 249, 249);
    color:red;
    font-weight: bold; 
    font-family: 'Times New Roman', Times, serif
 }